.banner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-inline: 6%;
}
.banner-title,
.banner-title span {
  font-family: "GT Walsheim Bold", sans-serif;
  font-weight: bold;
  font-size: 48px;
}

.banner-title span {
  color: #06942a;
}
.banner-text {
  line-height: 200%;
}
.search {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;
  padding: 0;
  background-color: #ffffff;
}

.input {
  padding: 10px;
  border: none;
  height: 38px;
  font-size: 14px;
  background-color: #ffffff;
  padding-inline: 15px;
}
.input:focus {
  outline: none;
}
.input::placeholder {
  color: #9b9b9b;
  font-size: 14px;
}
.searchInput {
  flex: 1;
  border-radius: 50px 0 0 50px;
  border: 1px solid #e5e5e5;
}
.locationInput {
  flex: .85;
  border-right: 1px solid #e5e5e5;
}
.locationInput::placeholder {
  color: #c4c4c4;
  font-size: 14px;
}
.locationIconBox {
  height: 38px;
  padding-block: 3px;
  padding-left: 18px;
}
.searchIconBox {
  background-color: #06942a;
  border-radius: 0 50px 50px 0;
  padding: 6px 12px;
  height: 38px;
}
.borderLine {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.trustedBy{
  font-family: "Graphik Medium";
  /* font-weight: 600; */
}
.brandLogos{
  display: flex;
  gap: 20px;
  align-items: center;
}

.disBox, .heroImgBox{
  margin: 0;
}
.disBox {
  max-width: 549px;
  margin-block: 100px;
}
.disBox > *{
  margin-bottom: 30px;
}

.heroImgBox {
  width: 565px;
  max-width: 565px;
  height: 707px;
  border: 2px solid #06942a;
  border-radius: 20px;
  position: relative;
}
.bg {
  background-image: url("../assets/heroImg.png");
  position: absolute;
  background-size: cover;
  background-position: center;
  top: -20px;
  left: -30px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}