.Header {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 6% 50px;
  padding-top: 16px;
  /* border: 2px solid #06942a */

}

.signUp-btn,
.login-btn {
  padding: 10px 50px;
  border: none;
}
.signUp-btn {
  background-color: #ffffff;
}
.login-btn {
  font-family: "Graphik Medium";
  font-weight: 500;
  background-color: rgba(6, 148, 42, 20%);
  color: #06942a;
  border-radius: 50px;
}
