.navBar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Graphik Regular";
}
.navBar ul {
  display: flex;
  list-style: none;
}
.navBar li {
  text-decoration: none;
  margin: 15px;
}
.navLink{
  text-decoration: none;
}